<div ng-controller="tableroControlCtrl" ng-cloak>

	<div id="page-heading">
		<ol class="breadcrumb">
			<li><a href="#/">CRM</a></li>
			<li class="active">Tablero de Control</li>
		</ol>
	
	</div>
	
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<panel panel-class="panel-sky" heading="Tablero de control">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                             
                </panel-controls>
            
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="padding-right:100px">Cliente</th>
                                <th>RFC</th>
                                <th>N&oacute;minas</th>
                                <th>Total de colaboradores</th>
                                <th>Estatus</th>
                                <th>Costo promedio de n&oacute;mina</th>
                                <th>Total de N&oacute;minas</th>
                                <th>Acumulado total de N&oacute;mina</th>
                                <th>Comisi&oacute;n</th>
                                <th>Total comisiones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="left">Empresa Uno S.A de C.V</td>
                                <td>LOSH48580H</td>
                                <td>64</td>
                                <td>12342</td>
                                <td>Activo</td>
                                <td>$ 100000</td>
                                <td> 123</td>
                                <td>$ 100000</td>
                                <td> 5 %</td>
                                <td>$ 100000</td>
                            </tr>
                           
                            <tr>
                                <td align="left">Miguel Luis Perez</td>
                                <td>PRML29041967H3D</td>
                                <td>64</td>
                                <td>12342</td>
                                <td>Inactivo</td>
                                <td>$ 100000</td>
                                <td> 123</td>
                                <td>$ 100000</td>
                                <td> 5 %</td>
                                <td>$ 100000</td>
                            
 							<tr>
                                <td align="left">Emipconfig</td>
                                <td>EDBR830519H3D</td>
                                <td>64</td>
                                <td>12342</td>
                                <td>Sin contrato</td>
                                <td>$ 100000</td>
                                <td> 123</td>
                                <td>$ 100000</td>
                                <td> 5 %</td>
                                <td>$ 100000</td>
                            </tr> 

                        </tbody>
                        
                    </table>
                </div>
            </panel>
		</div>
	</div>

</div>
<!-- container-fluid -->
</div>