<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">CRM</a></li>
        <li><a href="#/fondo/consultaFondo">Fondos</a></li>
        <li class="active">Registro Patrona</li>
    </ol>

</div>

<div class="container-fluid" ng-controller="consultaCelulaController">
    <div class="row">
        <div class="col-md-12">
            <panel panel-class="panel-primary" heading="Busqueda de patrona">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>

                    <a class="" href="#/crm/fondo/registroPatrona">Crear patrona<i class="fa fa-plus-square"></i></a>

                </panel-controls>
                <form>
                    <div class="row">
                        <div class="col-xs-5">
                            <label class="control-label">Nombre/Razon Social: </label>
                            <input type="text" class="form-control" placeholder="Nombre o raz&oacute;n social">
                        </div>

                        <div class="col-xs-3">
                            <label class="control-label">RFC: </label>
                            <input type="text" class="form-control" placeholder="RFC">
                        </div>

                        <div class="col-xs-1">
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <button class="btn-primary btn btn-lg">
                                <span class="fa fa-search"></span> Buscar
                            </button>
                        </div>
                    </div>
                </form>

            </panel>

            <panel panel-class="panel-sky" heading="Patronas registrados">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="padding-right:100px">Nombre / Raz&oacute;n social</th>
                                <th>RFC de la patrona</th>
                                <th>Responsable de la patrona</th>
                                <th>RFC responsable de la patrona</th>
                                <th>Correo responsable de la patrona</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="celula in gridCelula ">
                                <td>PATRONA 1</td>
                                <td>{{celula.rfcCelula}}</td>
                                <td>{{celula.nombreResponsable}} &nbsp; {{celula.apellidoPaternoResponsable}} &nbsp; {{celula.apellidoMaternoResponsable}} </td>
                                <td>{{celula.rfcResponsable}}</td>
                                <td>{{celula.correoResponsable}}</td>
                                <td>
                                    <a href="#/crm/fondo/actualizaPatrona" class="glyphicon glyphicon-pencil" title="Actualizar patrona"></a>
                                    <a href="#/crm/fondo/asignaPatronaCliente" class="glyphicon glyphicon-user" title="Aignar patrona a cliente"></a>
                                    <a class="glyphicon glyphicon-remove" title="Eliminar patrona"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </panel>
        </div>
    </div>

</div>

<!-- container-fluid -->