<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">CRM</a></li>
        <li><a href="#/crm/celula/consultaNoministas">Consulta de Noministas</a></li>
        <li class="active">Nominas Asiganadas</li>
    </ol>

</div>

<div class="container-fluid" ng-controller="consultaCelulaController">
    <div class="row">
        <div class="col-md-12">
            <panel panel-class="panel-sky" heading="Nominas asignadas">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                </panel-controls>

                <div>
                    NOMBRE NOMINISTA:
                    <P>
                        <B>ARMANDO ALBERTO HERNANDEZ GONZALEZ</B>
                    </P>
                </div>
                <BR>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="padding-right:100px">Cliente</th>
                                <th style="padding-right:100px">Nombre n&oacute;mina</th>
                                <th>N&uacute;mero de colaboradores</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="left">Cliente 1</td>
                                <td align="left">N&oacute;mina 1</td>
                                <td>87</td>
                                <td>
                                    <a class="glyphicon glyphicon-remove" title="Desasignar nomina"></a>
                                </td>
                            </tr>

                            <tr>
                                <td align="left">Cliente 2</td>
                                <td align="left">N&oacute;mina 2</td>
                                <td>100</td>
                                <td>
                                    <a class="glyphicon glyphicon-remove" title="Desasignar nomina"></a>
                                </td>
                            </tr>

                            <tr>
                                <td align="left">Cliente 3</td>
                                <td align="left">N&oacute;mina 3</td>
                                <td>56</td>
                                <td>
                                    <a class="glyphicon glyphicon-remove" title="Desasignar nomina"></a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="row" align="right">
                    <br />

                    <button class="btn-danger btn"  ng-click="cancelar();">Cancelar</button>
                </div>

            </panel>
        </div>
    </div>
</div>

<!-- container-fluid -->