<link rel='stylesheet' type='text/css' href='assets/css/cotizacion.css' />
<div class="container-fluid"
	ng-controller="conciliacionController">
	<div id="page-heading">
		<ol class="breadcrumb">
			<li><a href="#/">Menu principal</a></li>
			<li class="active">Conciliaciones</li>
		</ol>
	</div>
	<div class="row">
		<div class="col-md-12">
			<panel panel-class="panel-sky" heading="Contadores de totales">
			<panel panel-class="panel-sky" heading=" Totales">
			<panel-controls> <panel-control-collapse></panel-control-collapse>
			</panel-controls>	
			<form id="seguimientoProspectos" name="seguimientoProspectosForm">
			
				<div class="row"> 
					<div class="col-xs-4">
						<label class="control-label">Fecha inicio</label> <input
							type="date" name="inicioDate" class="form-control"
							placeholder="Fecha inicio" ng-model="data.inicioDate"	
							 min="2022-01-01"
							ng-required="true" />
					</div>
					<div class="col-xs-4">
						<label class="control-label">Fecha fin</label> <input type="date"
							name="finDate" class="form-control" placeholder="Fecha fin"
							ng-model="data.finDate" 
							 min="2022-01-01"
							ng-required="true" />

					</div>
					<div class="col-xs-4" style="">
						<label class="control-label">&nbsp;</label>
						<button type="button" class="btn-green btn form-control"
							ng-click="calcularTotales();" style="background: #1b365c;"
							ng-disabled="">Calcular totales</button>

					</div>
					
					<!--div class="col-md-12">		
								 <div class="col-xs-3">
						            <label class="control-label">A&ntilde;o*:</label>
						            <select class="form-control"
						             
						            ng-model="data.year" 
						            ng-options="y for y in data.years" 
						            
						            ng-required="true" ng-change= "activaMes();">
						            <option  value="" class="">-- SELECCIONA UNA OPCI&Oacute;N --</option>
						            </select>
					            </div>					
								<div class="col-xs-3">
									<label class="control-label">Mes*:</label>
						            <select ng-model="data.month" 
						            class="form-control" 
						            ng-change = "activaDia();"
						            ng-disabled="false"
						            ng-options="m for m in data.months" 
						            ng-required="data.activaSelectMes" >
						            <option  value="" class="">-- SELECCIONA UNA OPCI&Oacute;N --</option>
						            
						            </select>
					            </div>
					            <div class="col-xs-3">
									<label class="control-label">D&iacute;a*:</label>
						            <select ng-model="data.day" 
						            class="form-control" 
						            name="dia"
						            ng-disabled="false"
						            ng-options="d for d in data.days" 
						            ng-required="data.activaSelectDia">
						            <option value="" class="">-- SELECCIONA UNA OPCI&Oacute;N --</option>
						            
						            </select>
					            </div>     
					     </div>	-->
					     
					    
					 </div>
					 	 <br>
					 
				<div class="row">	
		<div class="col-md-3" data-clasificacion="TOTAL" >
						<a class="shortcut-tiles tiles-info"
							ng-click="getDetalleIngresos()" data="tileDef" >
							<div class="tiles-body" style="border:3px solid #0493b6;
   								border-radius:22px;">
								<div class="pull-left">
									<i class="fa fa-money fa-5"></i>	
									<br>
									<div class="pull-right"
											style="font-size: 25px; line-height: 1">{{totalIngresos|currency}}</div>	
								</div>
								
							<span  class="tiles-footer" style="font-size: 18px;" ></br> Total de Ingresos</span>
						
							</div>
						</a>
					</div>

	<div class="col-md-3" data-clasificacion="EN_PROCESO" >
						<a class="shortcut-tiles tiles-magenta"
							ng-click="getDetalleEgresos();" data="tileDef" >
							<div class="tiles-body" style="border:3px solid #e06d94;
   								border-radius:22px;">
								<div class="pull-left">
									<i class="fa fa-minus-circle"></i>
								<br>
										<div class="pull-right"
											style="font-size: 25px; line-height: 1">{{totalEgresos|currency}}</div>
								</div>
						
							<span  class="tiles-footer " style="font-size: 18px;" ></br> Total Dispersiones</span>
						
							</div>
						</a>
					</div>
				

					<div class="col-md-3" data-clasificacion="COTI">
						<a class="shortcut-tiles tiles-toyo"
							ng-click="getDetalleClientesIngresos();" data="tileDef">
							<div class="tiles-body" style="border:3px solid #556b8d; border-radius:22px;">
								<div class="pull-left">
									<i class="fa fa-users"></i>
								<br>
									<div class="pull-right"
											style="font-size: 25px; line-height: 1">{{totalClientesIngresos}}</div>	
								</div>	
							
								<span class="tiles-footer" style="font-size: 18px;"></br> Clientes ingresos</span>
							</div>
						</a>
					</div>

						<div class="col-md-3" data-clasificacion="PROSP_RECHAZADOS">
						<a class="shortcut-tiles tiles-danger"
							ng-click="getDetalleClientesEgresos();" data="tileDef">
							<div class="tiles-body" style="border:3px solid #ef553a;
   								border-radius:22px;">
								<div class="pull-left">
									<i class="fa fa-minus-circle"></i>
									<br>
										<div class="pull-right"
											style="font-size: 25px; line-height: 1">{{totalClientesEgresos}}</div>	
								</div>
						
								<span class="tiles-footer" style="font-size: 18px;"></br>Dispersiones a clientes</span>
							</div>
						</a>
					</div>
				</div>

			</form>
			</panel> 
			
			<panel panel-class="panel-sky" style="align-items: center;"
				heading="{{tituloDetalle}} {{data.orden.fechaInicioS}} al {{data.orden.fechaFinS}}" 
				ng-show ="ordenesDetalle">
			<div class="table-responsive">
				<table class="table" ng-table="tableDetalleParams">
					<thead>
						<tr ng-show="!egresosDetalle">
						    <th align="center">#</th>
							<th align="center">Beneficiario</th>
							<th align="center">Cuenta Beneficiario</th>
							<th align="center" >Ordenante</th>
							<th align="center" >Cuenta Ordenante</th>
							<th align="center" >Monto</th>
							<th align="center" >Acciones</th>
							
						</tr>
							<tr ng-show="egresosDetalle">
							<th align="center">#</th>
							<th align="center">Fondo</th>
							<th align="center">Cuenta fondo</th>
							<th align="center" >Cliente ordenante</th>
							<th align="center" >Cuenta cliente ordenante</th>
							<th align="center" >Monto dispersado</th>						
							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="orden in $data">
						    <td>{{$index+1}}</td>
							<td align="left" >{{orden.beneficiario}}</td>
							<td align="left" >{{orden.ctaBeneficiario}}</td>
							<td align="left">{{orden.ordenante}}</td>
							<td align="left">{{orden.ctaOrdenante}}</td>
							<td align="right">{{orden.monto | currency}}</td>
								<td align="right">	<button data-toggle="modal" ng-show="!egresosDetalle"
												ng-click="mostrarDialogoDisponible(orden);"
												class="btn btn-midnightblue">
												<span class="fa fa-binoculars" tooltip="Ver detalle"></span> 
											</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			</panel> 
			
			<panel panel-class="panel-sky"
				style="align-items: center;"
				heading="{{tituloDetalle}} {{data.orden.fechaInicioS}} al {{data.orden.fechaFinS}}" ng-show="clientesDetalle">
			<div class="table-responsive">
				<table class="table" ng-table="tableClientesDetalleParams">
					<thead>
						<tr >
							<th align="center">#</th>
							<th align="center">Raz&oacute;n social</th>
							<th align="center" >RFC</th>
							<th align="center" >Centro de costos</th>
							<th align="center" >Fecha liquidaci&oacute;n</th>
							<th align="center" >Monto</th>
							<th align="center" ng-show ="false" >Acciones</th>
							
							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="cliente in $data">
						    <td>{{$index+1}}</td>
							<td align="left" >{{cliente.razonSocial}}</td>
							<td align="left" >{{cliente.rfc}}</td>
							<td align="left">{{cliente.prestadoraServicio}}</td>
							<td align="left">{{cliente.fechaOperacion | date:'dd-MM-yyyy' }}</td>
							<td align="right">{{cliente.monto | currency}}</td>
								<td align="right">	<button data-toggle="modal" ng-show="false"
												ng-click="mostrarDialogoDisponible(orden);"
												class="btn btn-midnightblue">
												<span class="fa fa-binoculars" tooltip="Ver detalle"></span> 
											</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			</panel> 
			
		</panel>
		</div>
	</div>
	
	
		 	<div class="modal fade" tabindex="-1" role="dialog"	data-backdrop="static" id="mostrarDialogoDisponible"
		aria-labelledby="decodificador">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Resumen Cliente {{ordenSelect.ordenante}}</h4>
				</div>
				<div class="modal-body">
				<div class="row">
							<div class="col-xs-4">
						<label class="control-label">Fecha inicio</label> <input
							type="date" name="inicioDate" class="form-control"
							placeholder="Fecha inicio" ng-model="data.inicioDate"
							 min="2022-01-01"
							ng-required="true" />
					</div>
					<div class="col-xs-4">
						<label class="control-label">Fecha fin</label> <input type="date"
							name="finDate" class="form-control" placeholder="Fecha fin"
							ng-model="data.finDate" 
							 min="2022-01-01"
							ng-required="true" />

					</div>
						
					 </div>
					
					<hr>
					
					 <br>
					
					
					
					<body>
				<div class="container ">
					
						<div class="row">
							<div class="col-sm-3"
								style="border-radius: 22px; background-color: white; padding-top: 50px;">
								<a class="shortcut-tiles tiles-info" style="height: 120px;padding-right:30px" >
									<div class="tiles-body"
										style="border: 3px solid #4da339; border-radius: 22px; background: #4da339;">
										<div class="pull-left">
											<i class="fa fa-usd"></i>
										</div>
										<div class="pull-right"
											style="font-size: 17px; line-height: 1">{{detalleCliente.depositos|currency}}</div>
										<span style="font-size: 17px;"></br> Dep&oacute;sitos</span>
									</div>
								</a> <a class="shortcut-tiles tiles-green" data="tileDef"
									style="height: 120px; padding-right:30px">
									<div class="tiles-body"
										style="border: 3px solid #02a885; border-radius: 22px; background: #02a885;">
										<div class="pull-left">
											<i class="fa fa-plus-circle"></i>
										</div>
										<div class="pull-right"
											style="font-size: 17px; line-height: 1">{{detalleCliente.disponible|currency}}</div>
										<span style="font-size: 17px;"></br>Disponible para
											dispersar</span>
									</div>
								</a> <a class="shortcut-tiles tiles-magenta" data="tileDef"
									style="height: 120px; padding-right:30px">
									<div class="tiles-body"
										style="border: 3px solid #0249fb; border-radius: 22px; background: #0249fb;">
										<div class="pull-left">
											<i class="fa fa-money fa-5"></i>
										</div>
										<div class="pull-right"
											style="font-size: 17px; line-height: 1">{{detalleCliente.ingresoBruto|currency}}</div>
										<span style="font-size: 17px;"></br> Ingreso bruto</span>
									</div>

								</a>


							</div>
							<div  class="col-sm-3" style="padding-right:30px">
							<div 
								style="border-left: 50px; border-radius: 22px; border-color: #0249fb; padding-top: 30px; padding-bottom: 20px; border-width: 3px;
                             border-style: solid;">

								<a class="shortcut-tiles tiles-success" data="tileDef" style="padding-right:20px; padding-left:20px;">
									<div class="tiles-body"
										style="border: 3px solid #0249fb; border-radius: 22px;  background: #0249fb;">
										<div class="pull-left">
											<i class="fa fa-money fa-5"></i> <i style="font-size: 17px;">{{detalleCliente.utilidad|currency}} </i>
										</div>
										<div class="pull-right"
											style="font-size: 17px; line-height: 1">
											<input style="width: 50px; color: black;text-align: right;" placeholder="20"
												name="porUtilidad" id="porUtilidad"
												ng-model="data.porcentajeUtilidad" maxlength="2"
												oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
												type="number" required="required" ng-show="usuarioDTO.rol.idRol!=37">{{usuarioDTO.rol.idRol===37?data.porcentajeUtilidad:""}} %</input>

										</div>
										<span style="font-size: 17px;"></br> Utilidad</span>

									</div>
								</a> <a class="shortcut-tiles tiles-grape" data="tileDef" style="padding-right:20px; padding-left:20px;" >
									<div class="tiles-body"
										style="border: 3px solid #527fef; border-radius: 22px; background: #527fef;">
										<div class="pull-left">
											<i class="fa fa-money fa-5"></i> <i style="font-size:17px;">{{detalleCliente.gasto|currency}}
											</i>
										</div>
										<div class="pull-right"
											style="font-size: 17px; line-height: 1">
											<input style="width: 50px; color: black;text-align: right;" placeholder="20"
												name="porGasto" id="porGasto"
												ng-model="data.porcentajeGasto" maxlength="2"
												oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
												type="number" required="required" ng-show="usuarioDTO.rol.idRol!=37">{{usuarioDTO.rol.idRol===37?data.porcentajeGasto:""}}%</input>
										</div>
										<span style="font-size: 17px;"></br> Gasto</span>

									</div>
								</a> <a class="shortcut-tiles tiles-orange" data="tileDef"  style="padding-right:20px; padding-left:20px;">
									<div class="tiles-body"
										style="border: 3px solid #7496f6; border-radius: 22px; background: #7496f6;">
										<div class="pull-left">
											<i class="fa fa-money fa-5"></i> <i style="font-size: 17px;">{{detalleCliente.socios|currency}}
											</i>
										</div>
										<div class="pull-right"
											style="font-size: 17px; line-height: 1">
											<input style="width: 50px; color: black;text-align: right;" placeholder="20"
												name="porSocios" id="porSocios"
												ng-model="data.porcentajeSocios" maxlength="2"
												oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
												type="number" required="required" ng-show="usuarioDTO.rol.idRol!=37">{{usuarioDTO.rol.idRol===37?data.porcentajeSocios:""}}%</input>
										</div>
										<span style="font-size: 17px;"></br> Socios</span>

									</div>
								</a>
								<a class="shortcut-tiles tiles-indigo" data="tileDef"  style="padding-right:20px; padding-left:20px;">
									<div class="tiles-body"
										style="border: 3px solid #9ab3f0; border-radius: 22px; background: #9ab3f0;">
										<div class="pull-left">
											<i class="fa fa-money fa-5"></i> <i style="font-size: 17px;">{{detalleCliente.comisiones|currency}}
											</i>
										</div>
										<div class="pull-right"
											style="font-size: 17px; line-height: 1">
											<input style="width: 50px; color: black; text-align: right;" placeholder="20"
												name="porComisiones" id="porComisiones"
												ng-model="data.porcentajeComision" maxlength="2"
												oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
												type="number" required="required" ng-show="usuarioDTO.rol.idRol!=37">{{usuarioDTO.rol.idRol===37?data.porcentajeComision:""}}%</input>
										</div>
										<span style="font-size: 17px;"></br> Comisiones</span>

									</div>
								</a>

							</div>
							
							</div>

							<div  class="col-sm-2">
							
							<p class="total">Ingreso Bruto: 100%</p>

								
								<section class="container_grafico2">
								
								
								<div class="grafico"
									style="background: conic-gradient(var(--color_socios) {{data.porcentajeSocios}}%, var(--color_utilidad) {{data.porcentajeSocios}}% {{data.porcentajeSocios+data.porcentajeUtilidad}}%,var(--color_gasto) {{data.porcentajeSocios+data.porcentajeUtilidad}}% {{data.porcentajeSocios+data.porcentajeUtilidad+data.porcentajeGasto}}%, var(--color_comisiones) {{(data.porcentajeSocios+data.porcentajeUtilidad+data.porcentajeGasto)}}% 100%)"></div>
								
										<div class="container_leyenda" st>
									<span class="leyenda_all" >	 <span class="color_utilidad"></span>{{data.porcentajeUtilidad}} % Utilidad</span>
								  <span class="leyenda_all" >  <span class="color_gasto"></span> 	{{data.porcentajeGasto}} % Gasto		</span>
									<span class="leyenda_all" > <span class="color_socios"></span>	{{data.porcentajeSocios}} % Socios		</span>
									<span class="leyenda_all" > <span class="color_comisiones"></span>{{data.porcentajeComision}} % Comisiones	</span>
										
								</div>
								
							</section>
							

							</div>

						</div>
					</div>

				</body>
				
							
				
				<div class="modal-footer">
					<button type="button" class="btn-brown btn" data-dismiss="modal">CANCELAR</button>							
					<button type="button" class="btn-green btn" ng-click="reCalcularRecursos();" ng-disabled="activarBotonCalcular" >Calcular</button>
				</div>
			</div>
		</div>
	</div>
	
	
</div>

