<div class="container-fluid">
	<div id="page-heading">
		<ol class="breadcrumb">
			<li><a href="#/">Menu principal</a></li>
			<li class="active">Autorizador</li>
		</ol>
	</div>
	<div class="row">
		<div class="col-md-12">
			<panel panel-class="panel-sky" heading="Revision de cotizaciones a autorizar">
                <panel-controls>
                    <panel-control-collapse></panel-control-collapse>
                             
                </panel-controls>
            
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="padding-right:100px">Cliente</th>
                                <th>RFC</th>
                                <th>Nomina</th>
                                <th>Tipo</th>
                                <th>Estado</th>
                                <th>Contrato</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="left">Empresa Uno S.A de C.V</td>
                                <td>LOSH48580H</td>
                                <td> <a href="#/crm/nominas">120</a> </td>
                                <td>Persona Moral</td>
                                <td>CDMX</td>
                                <td>Sin contrato</td>
                                <td><a href="#/cotizador/autorizador/detalleCotizacionAutorizador"> <span class="glyphicon glyphicon-search"></span></a></td>
                            </tr>
                           
                            <tr>
                                <td align="left">Miguel Luis Perez</td>
                                <td>PRML29041967H3D</td>
                                <td> <a href="#/crm/nominas">110</a> </td>
                                <td>Persona Fisica</td>
                                <td>Estado de México</td>
                                <td><span class="fa fa-file-pdf-o"></span></td>
                                <td><a href="#/cotizador/autorizador/detalleCotizacionAutorizador"> <span class="glyphicon glyphicon-search"></span></a></td>
                            </tr> 

                        </tbody>
                        
                    </table>
                </div>
            </panel>
		</div>
	</div>

</div>

<!-- container-fluid -->
